@model DemoSite.Models.SimpleParserViewModel
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>toki pona Parser</h1>
    <p class="lead">A parser is a fundamental tool for doing natural language processing with toki pona.</p>
    <p><a href="https://github.com/matthewdeanmartin/tokipona.parser" class="btn btn-primary btn-lg">Open Source on GitHub</a></p>
</div>*@

<div class="row">
    <div class="col-md-12">
        <h2>Enter toki pona text to get a bracketed, normalized, and glossed version.</h2>
        @using (Html.BeginForm("Parse", "Home"))
        {
            <textarea id="SourceText" name="SourceText"
                style="background-color:#F8F8F8;border:0;display:block;font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;font-size:10pt;width:98%;line-height:21px;padding:1%;resize: none; overflow-y: hidden; height: 200px;"
                      ></textarea>
            <br />
            <input type="submit" value="Submit" />
        }
      
     
    @*</div>
    <div class="col-md-6">*@
        <h2>Bracketed (Partial Diagram*)</h2>
    
        <p>
            @Html.Raw(Model.Formatted);
        </p>
        <h2>Normalized* Add Punct &amp; mi li/sina li</h2>
        <p>
            @Html.Raw(Model.Normalized)
        </p>
        <h2>string =&gt; OOP data structure =&gt; string</h2>
        <p>
            @Html.Raw(Model.Recovered)
        </p>
        <h2>English Gloss (Yeah, I know, it ain't google translate)</h2>
        <p>
            @Html.Raw(Model.Glossed)
        </p>
        <h2>Gloss + POS (Yeah, I know, it ain't google translate)</h2>
        <p>
            @Html.Raw(Model.FormattedPos)
        </p>
    </div>
    @*<div class="col-md-4">
            <h2>Repeat Back</h2>
            <p>
                @Model.Recovered
            </p>
        </div>*@

</div>
