@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-12">
        <br />
    </div>
    <div class="col-md-12">
        <br />
        <div id="flowchartWide">
            <div class="no1">
                <a href="@Url.Action("Index", "Home")">
                    <b>Motivation:</b><br />
                    <br />
                Why learn this particular language.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="@Url.Action("Index", "Home")">
                    <b>Learn it:</b><br />
                    <br />
                    Flash Cards and Lesson Plans.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="@Url.Action("Index", "Home")">
                    <b>Pick a name:</b><br />
                    <br />
                    This is speedbump one for interacting with a new community.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="@Url.Action("Index", "Home")">
                    <b>Reading and Writing Tools:</b><br />
                    <br />
                    Lean on the machine to gain or fake proficiency.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="@Url.Action("Index", "Home")">
                    <b>Community:</b><br />
                    <br />
                    Chat and hang out with the sort of people who thought it cromulent to learn Lojban.
                </a>
            </div>
        </div>
        
        
        @*<div id="flowchart">
            <div class="no1">
                <a href="http://mysite.com/page1">
                    Motivation:<br />
                    Why learn this particular language.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="http://mysite.com/page2">
                    Learn it:<br />
                    Flash Cards and Lesson Plans.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="mysite.com/page3">
                    Pick a name:<br />
                    This is speedbump one for interacting with a new community.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="mysite.com/page3">
                    Reading and Writing Tools:<br />
                    Lean on the machine to gain or fake proficiency.
                </a>
            </div>
            <div class="line1"></div>
            <div class="no1">
                <a href="mysite.com/page3">
                    Community:<br />
                    Chat and hang out with the sort of people who thought it cromulent to learn Lojban.
                </a>
            </div>
        </div>*@

    </div>
</div>